@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using JhbMetroChess.Extensions
@{ 
	var home = CurrentPage.Site();

	//var navigation = CurrentPage.Site().Children.Where("DocumentTypeAlias == @0", "Navigation").First();
	//var mainMenus = navigation.Children;

}
			<nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.2s">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand smoothie">JHB METRO <span class="theme-accent-color">CHESS</span></a>
				</div>
				<div id="navbar-social">
					<ul class="smoothie list-inline social-links">
						<li>
							<a target="_blank" href="@home.facebookLink"><i class="fa fa-facebook"></i></a>
						</li>
					</ul>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="main-navigation">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="/">Home</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" >About Us<span class="pe-7s-angle-down"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="@Umbraco.HomeIfNotHome((string)CurrentPage.DocumentTypeAlias)#AboutUs" class="page-scroll">About Us</a></li>
								<li><a href="@Umbraco.HomeIfNotHome((string)CurrentPage.DocumentTypeAlias)#AwesomeTeam" class="page-scroll" >Our Team</a></li>
								<li><a href="@home.constitution" target="_blank">Constitution</a></li>
								
								<li><a href="/banking-details/" >Banking Details</a></li>
								
								<li><a href="@Umbraco.HomeIfNotHome((string)CurrentPage.DocumentTypeAlias)#ContactUs" class="page-scroll" >Contact Us</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Members<span class="pe-7s-angle-down"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/member-signup/">Registration</a></li>
								<li><a href="/rankings/">Rankings</a></li>
								<li><a href="#">Members List (coming soon)</a></li>
								<li><a href="/fee-structure/" class="page-scroll">Fee Structure @DateTime.Now.Year</a></li>
								<li><a href="/media/1122/jmc-player-selection-criteria-2016-v1.pdf" target="_blank" class="page-scroll">Selection Criteria @DateTime.Now.Year</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Tournaments<span class="pe-7s-angle-down"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/tournaments">Tournaments</a></li>
								<li><a href="@home.tournamentCalendarPdf" target="_blank" >@DateTime.Now.Year Calendar</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="@Umbraco.HomeIfNotHome((string)CurrentPage.DocumentTypeAlias)#ChessClubs" class="page-scroll" >Clubs</a>
						</li>
						@*<li class="dropdown">
							<a href="/news/">News</a>
						</li>*@
						@*<li><a href="#search"><i class="pe-7s-search"></i></a></li>*@

					</ul>

				</div>
				<!-- /.navbar-collapse -->

			</div>
			<!-- /.container-fluid -->
		</nav>

		<div id="search-wrapper">
			<button type="button" class="close">×</button>
			<form>
				<input type="search" value="" placeholder="Enter Search Term" />
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>