@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using JhbMetroChess.Extensions
@{
	Layout = "Master.cshtml";
	var templateAssets = @Url.Content("~/assets");
	var clubContainer = CurrentPage.Site().Children.Where("DocumentTypeAlias == @0", "Clubcontainer").First();
	var clubs = clubContainer.Children.Where("DocumentTypeAlias == @0", "Club");
}
@section title {@CurrentPage.Name | @CurrentPage.pageTitle}

<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="@Umbraco.Media(clubContainer.topbanner).Url" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 text-center wow fadeIn" data-wow-delay="0.2s">
                    <h2 class="section-heading"><span class="theme-accent-color">Chess</span> Chess Clubs</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-inner">
        <div class="container">
            <div class="wow fadeIn" data-wow-delay="0.2s">
                <ul class="portfolio-filter mb30 text-center list-inline wow fadeIn" data-wow-delay="0.2s">
                    <li><a class="btn btn-primary btn-transparent active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".upcoming">Jhb North</a></li>
					<li><a class="btn btn-primary btn-transparent" href="#" data-filter=".inprogress">Jhb South</a></li>
					<li><a class="btn btn-primary btn-transparent" href="#" data-filter=".previous">Jhb East</a></li>
					<li><a class="btn btn-primary btn-transparent" href="#" data-filter=".previous">Jhb West</a></li>
                </ul>
                <ul class="portfolio-items nopadding-lr isotope list-unstyled">
				@foreach (var club in clubs)
				{
					@*<li class="col-sm-4 col-xs-6 portfolio-item isotope-item">
						<div class="col-xs-12 nopadding-lr hover-item">
							<img src="@Umbraco.Media(clubContainer.clubBackground).Url" class="img-responsive smoothie" alt="">
							<div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
								<div class="vertical-center smoothie">
									
									<h3><a href="single-post.html" title="view project">@club.Name</a></h3>
								</div>
							</div>
							<div class="hover-item-caption smoothie">
								<div class="vertical-center smoothie">
									<a href="@templateAssets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa ">Details</i></a>
									<a href="single-portfolio-fullscreen-video.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa ">Enter</i></a>
								</div>
								<span class="theme-accent-color-bg hover-bar"></span>
							</div>
						</div>
					</li>*@
					<li>
						<div class="row hover-item">
							<div class="col-xs-12">
								<img src="@Umbraco.Media(clubContainer.clubBackground).Url" class="img-responsive smoothie" alt="">
							</div>
							<div class="col-xs-12 overlay-item-caption smoothie"></div>
							<div class="col-xs-12 hover-item-caption smoothie">
								<div class="vertical-center">
									<h3 class="smoothie"><a href="single-portfolio.html" title="view project">@club.Name</a></h3>
									<ul class="smoothie list social-links wow fadeIn" data-wow-delay="0.2s">
										<li style="text-align:left;">
											<a href="#"><i class="fa "></i>President: @club.president</a>
										</li>
										<li style="text-align:left;">
											<a href="#"><i class="fa "></i>Phone: @club.presidentCell</a>
										</li>
										<li style="text-align:left;">
											<a href="@club.presidentEmail"><i class="fa "></i>Email: @club.presidentEmail</a>
										</li>
										<li style="text-align:left;">
											<a href="@club.webAddress"><i class="fa "></i>Website: @club.webAddress</a>
										</li>
									</ul>
								</div>
							</div>
							<span class="theme-accent-color-bg hover-bar"></span>
						</div>
					</li>
				}
                </ul>
            </div>
        </div>
    </div>
</section>

