@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using JhbMetroChess.Extensions
@{


	Layout = "Master.cshtml";
	var templateAssets = @Url.Content("~/assets");
	var home = CurrentPage.Site();

	var tournamentContainer = home.Children.Where("DocumentTypeAlias == @0", "Tournamentcontainer").First();
	var upcomingTournaments = tournamentContainer.Children.Where("DocumentTypeAlias == @0 && startDate > @1", "Tournament", DateTime.Now).Take(6).OrderBy("startDate");


	var executivecontainer = home.Children.Where("DocumentTypeAlias == @0", "Executivecontainer").First();
	var executives = executivecontainer.Children.Where("DocumentTypeAlias == @0", "Executive");

	var clubContainer = home.Children.Where("DocumentTypeAlias == @0", "Clubcontainer").First();
	var clubs = clubContainer.Children.Where("DocumentTypeAlias == @0", "Club");

	var sponsorContainer = home.Children.Where("DocumentTypeAlias == @0", "Sponsorcontainer").First();
	var sponsors = sponsorContainer.Children.Where("DocumentTypeAlias == @0", "Sponsor");

	var affiliateContainer = home.Children.Where("DocumentTypeAlias == @0", "Affiliatecontainer").First();
	var affilates = affiliateContainer.Children.Where("DocumentTypeAlias == @0", "Affiliate");

	var ReCapcha_SiteKey = System.Configuration.ConfigurationManager.AppSettings["ReCapcha_SiteKey"];

}
@section title {  @CurrentPage.pageTitle }

@{ Html.RenderPartial("FullSliderBanner"); }

<section id="welcome" itemscope itemtype="http://schema.org/WebPage">
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center mb100" itemprop="headline">
					<h2 class="section-heading">Welcome to JHB Metro <span class="theme-accent-color">Chess</span></h2>
					<hr class="thin-hr">
					<h3 class="section-subheading secondary-font">Where chess happens</h3>
				</div>
			</div>
		</div>
		<div>
			<div class="container" id="AboutUs" >
				<div class="col-md-3" itemscope itemprop="about">
					<h2 class="mb50">About <span class="theme-accent-color">Us</span></h2>
					<p class="lead">@home.aboutUsLargeText</p>
					<p>@home.aboutUsSmallText</p>
					<p class="mt30"><a href="#AwesomeTeam" class="btn btn-primary btn-theme page-scroll">Meet our Team</a></p>
				</div>
				<div class="col-md-8 col-md-offset-1">
					<div class="row">
						<div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s" >
							<div class="icon-box-1 match-height mb30">
								<a target="_blank" itemprop="url" href="@(CurrentPage.Site().facebookLink)photos_stream">
									<i class="fa-4x pe-7s-camera"></i>
									<div class="content-area">
										<h3 class="title" itemprop="headline">Gallery</h3>
										<div class="content">View our photo albums on our Facebook page - while you are there, hit the like button.</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
							<div class="icon-box-1 match-height mb30">
								<a href="/rankings/">
									<i class="fa-4x pe-7s-graph1"></i>
									<div class="content-area">
										<h3 class="title" itemprop="headline">JMC Rankings</h3>
										<div class="content">View member rankings.</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
							<div class="icon-box-1 match-height mb30">
								<a href="@CurrentPage.chessResultsLink" target="_blank">
									<i class="fa-4x pe-7s-network"></i>
									<div class="content-area">
										<h3 class="title" itemprop="headline">Chess Results</h3>
										<div class="content">View recent chess results. </div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
							<div class="icon-box-1 match-height mb30">
								<a href="#ChessClubs" class="page-scroll">
									<i class="fa-4x pe-7s-coffee"></i>
									<div class="content-area">
										<h3 class="title" itemprop="headline">Chess Clubs</h3>
										<div class="content">Jhb Metro Chess is affiliated to many chess clubs in and around Johannesburg - all of them will welcome you with a friendly smile. View a list of them here.</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
							<div class="icon-box-1 match-height">
								<a href="#ContactUs" class="page-scroll">
									<i class="fa-4x pe-7s-headphones"></i>
									<div class="content-area">
										<h3 class="title" itemprop="headline" >Contact Us</h3>
										<div class="content">Any queries, questions, suggestions, complaints or comments,  you can send here and we'll respond real sincere.</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
							<div class="icon-box-1 match-height">
								<a href="#UpcomingTournaments" class="page-scroll">
									<i class="fa fa-4x pe-7s-next"></i>
									<div class="content-area">
										<h3 class="title" itemprop="headline">Upcoming Tournaments</h3>
										<div class="content">View upcoming tournaments from your local clubs.</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="col-sm-6 nopadding-lr silver-bg" itemscope itemtype="http://schema.org/Article">
	<div class="section-inner pad-sides-60 match-height" data-mh="promo-inner">
		@home.whiteNews
	</div>
</div>
<div class="col-sm-6 nopadding-lr dark-wrapper opaqued background-cover" style="background-image: url('@Umbraco.Media(home.blackNewsBackground).Url');" itemscope itemtype="http://schema.org/Article">
	<div class="dark-opaqued-half section-inner pad-sides-60 match-height text-right" data-mh="promo-inner">
		@home.BlackNews
	</div>
</div>


<section class="white-bg" id="UpcomingTournaments" itemprop="events" itemscope itemtype="http://schema.org/Event">
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center mb100">
					<h2 class="section-heading" itemprop="headline">Upcoming <span class="theme-accent-color">Chess</span> Tournaments</h2>
					<hr class="thin-hr">
					<h3 class="section-subheading secondary-font">come put your game to the test</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="wow fadeIn" data-wow-delay="0.2s">
				<ul class="portfolio-items nopadding-lr isotope list-unstyled">
					@foreach (var tournament in upcomingTournaments)
					{
						<li class="col-sm-4 col-xs-6 portfolio-item @Umbraco.TournamentStatus((DateTime)tournament.startDate,(DateTime)tournament.endDate) isotope-item">
							<div class="col-xs-12 nopadding-lr hover-item" itemprop="event" itemscope itemtype="http://schema.org/Event">
								<img src="@Umbraco.Media(tournamentContainer.tournamentBackground).Url" itemprop="thumbnailUrl" class="img-responsive smoothie" alt="">
								<div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
									<div class="vertical-center smoothie">
										<strong class="heading-font"><span class="theme-accent-color-bg" itemprop="startDate">@tournament.startDate.ToString("d MMM yyyy")</span></strong>
										<h3><a href="@Umbraco.NiceUrl(tournament.Id)" title="@tournament.Name">@tournament.Name</a></h3>
									</div>
								</div>
								<div class="hover-item-caption smoothie">
									<div class="vertical-center smoothie">
										@if (!string.IsNullOrEmpty(tournament.tournamentDetails))
										{
											<a href="@tournament.tournamentDetails"  target="_blank" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-down"></i></a>
										}
										<a href="@Umbraco.NiceUrl(tournament.Id)" target="_blank" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa ">Details</i></a>
										@if (tournament.startDate > DateTime.Now && !string.IsNullOrEmpty(tournament.onlineEntries))
										{
											<a href="@Umbraco.NiceUrl(tournament.Id)#Enter" itemprop="url" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa ">Enter</i></a>
										}
									</div>
									<span class="theme-accent-color-bg hover-bar"></span>
								</div>
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="silver-bg" id="ChessClubs" itemscope itemtype="http://schema.org/Place">
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center mb100">
					<h2 class="section-heading" itemprop="headline">Our <span class="theme-accent-color">Chess</span> Clubs</h2>
					<hr class="thin-hr">
					<h3 class="section-subheading secondary-font">Join a club</h3>
				</div>
			</div>
		</div>
		<div class="wow fadeIn" data-wow-delay="0.2s">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="3" data-items-tablet="[768,2]" data-items-mobile="[479,1]">

							@foreach (var club in clubs)
							{
								<li>
									<div class="row hover-item" itemscope itemtype="http://schema.org/Place">
										<div class="col-xs-12">
											<img src="@Umbraco.Media(clubContainer.clubBackground).Url" class="img-responsive smoothie" alt="">
										</div>
										<div class="col-xs-12 overlay-item-caption smoothie">
											<div class="vertical-center">
												<h3 class="smoothie"><a href="#" title="@club.Name" itemprop="name">@club.Name</a></h3>
												<ul class="smoothie list social-links wow fadeIn" data-wow-delay="0.2s">
													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="accountablePerson"><i class="fa fa-user"></i>&nbsp;@club.president</a>
													</li>
													@if (string.IsNullOrEmpty(club.webAddress))
													{
														<li style="text-align:left;" class="list-inline">
															<a href="#" itemprop="telephone"><i class="fa fa-phone"></i>&nbsp;@club.presidentCell</a>
														</li>
														<li style="text-align:left;" class="list-inline">
															<a href="mailto:@club.presidentEmail"><i class="fa fa-envelope-o "></i>&nbsp;@club.presidentEmail</a>
														</li>
													}
													else
													{
														<li style="text-align:left;" class="list-inline">
															<a href="@club.webAddress" itemprop="url"><i class="fa fa-share-alt "></i>&nbsp;@club.webAddress</a>
														</li>
													}

													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="addressRegion"><i class="fa fa-location-arrow "></i>&nbsp;@club.locationVenue</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 hover-item-caption smoothie">
											<div class="vertical-center">
												<h3 class="smoothie"><a href="#" title="@club.Name" itemprop="name">@club.Name</a></h3>
												<ul class="smoothie list social-links wow fadeIn" data-wow-delay="0.2s">
													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="accountablePerson"><i class="fa fa-user"></i>&nbsp;@club.president</a>
													</li>
													@if (string.IsNullOrEmpty(club.webAddress))
													{
														<li style="text-align:left;" class="list-inline">
															<a href="#" itemprop="telephone"><i class="fa fa-phone"></i>&nbsp;@club.presidentCell</a>
														</li>
														<li style="text-align:left;" class="list-inline">
															<a href="mailto:@club.presidentEmail"><i class="fa fa-envelope-o "></i>&nbsp;@club.presidentEmail</a>
														</li>
													}
													else
													{
														<li style="text-align:left;" class="list-inline">
															<a href="@club.webAddress" itemprop="url"><i class="fa fa-share-alt "></i>&nbsp;@club.webAddress</a>
														</li>
													}
													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="addressRegion"><i class="fa fa-location-arrow "></i>@club.locationVenue</a>
													</li>
												</ul>
											</div>
										</div>
										<span class="theme-accent-color-bg hover-bar"></span>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="silver-bg" id="AwesomeTeam" itemprop="colleagues" itemscope itemtype="http://schema.org/Person" >
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center mb100">
					<h2 class="section-heading" itemprop="headline">Our <span class="theme-accent-color">Chess</span> Enthusiasts</h2>
					<hr class="thin-hr">
					<h3 class="section-subheading secondary-font">Dedicated to excellence</h3>
				</div>
			</div>
		</div>
		<div class="wow fadeIn" data-wow-delay="0.2s">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="4" data-items-tablet="[768,2]" data-items-mobile="[479,1]">

							@foreach (var executive in executives)
							{
								<li>
									<div class="row hover-item" itemprop="colleague" itemscope itemtype="http://schema.org/Person">
										<div class="col-xs-12">
											<img src="@executive.picture" class="img-responsive smoothie" alt="" itemprop="thumbnailUrl">
										</div>
										<div class="col-xs-12 overlay-item-caption smoothie">
											<div class="vertical-center">
												<h3 class="smoothie" itemprop="name" >@executive.Name</h3>
												<ul class="smoothie list social-links wow fadeIn" data-wow-delay="0.2s">
													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="jobTitle"><i class="fa "></i>Designation: @executive.designation</a>
													</li>
													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="telephone" ><i class="fa "></i>Phone: @executive.telephone</a>
													</li>
													<li style="text-align:left;" class="list-inline">
														<a href="mailto:@executive.email" itemprop="email"><i class="fa "></i>Email: @executive.email</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 hover-item-caption smoothie">
											<div class="vertical-center">
												<h3 class="smoothie" itemprop="name">@executive.Name</h3>
												<ul class="smoothie list social-links wow fadeIn" data-wow-delay="0.2s">
													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="jobTitle"><i class="fa "></i>Designation: @executive.designation</a>
													</li>
													<li style="text-align:left;" class="list-inline">
														<a href="#" itemprop="telephone"><i class="fa "></i>Phone: @executive.telephone</a>
													</li>
													<li style="text-align:left;" class="list-inline">
														<a href="mailto:@executive.email" itemprop="email"><i class="fa "></i>Email: @executive.email</a>
													</li>
												</ul>
											</div>
										</div>
										<span class="theme-accent-color-bg hover-bar"></span>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="@Umbraco.Media(sponsorContainer.banner).Url" data-speed="0.8"  itemscope itemtype="http://schema.org/Organization"> 
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center mb100">
					<h2 class="section-heading">Our <span class="theme-accent-color">Sponsors</span></h2>
					<hr class="thin-hr">
					<h3 class="section-subheading secondary-font">Thank you for helping us make it happen</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="1" data-items-desktop="[1200,1]" data-items-desktop-small="[980,1]" data-items-tablet="[768,1]" data-items-mobile="[479,1]">
						@foreach (var sponsor in sponsors)
						{
							<li>
								<div class="row" itemscope itemtype="http://schema.org/Organization">
									<div class="col-xs-10 col-xs-offset-1 item-caption">
										<div class="col-sm-2">
											<a href="@sponsor.website" target="_blank"><img src="@sponsor.logo" class="img-responsive testimonial-author" alt="@sponsor.Name"></a>
										</div>
										<div class="col-sm-10">
											<a href="@sponsor.website" target="_blank" itemprop="url"><h4 itemprop="name">@sponsor.Name</h4></a>
											<p itemprop="description">@sponsor.description</p>
										</div>
									</div>
								</div>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="ContactUs" class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="@Umbraco.Media(CurrentPage.Site().contactUsBackground).Url" data-speed="0.8" itemscope itemtype="http://schema.org/UserComments">
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="message"></div>
					<form method="post" action="/umbraco/surface/ContactUs/PostContactUs" id="PostContactUs" class="main-contact-form wow fadeIn" data-wow-delay="0.2s">
						<input type="text" class="form-control col-md-4" name="Name" placeholder="Your Name *" id="Name" required data-validation-required-message="Please enter your name." />
						<input type="text" class="form-control col-md-4" name="Email" placeholder="Your Email *" id="Email" required data-validation-required-message="Please enter your email address." />
						<input type="text" class="form-control col-md-4" name="Phone" placeholder="Your Contact Number *" id="Phone" required data-validation-required-message="Please enter your a number where we can contact you." />
						<textarea name="Comments" class="form-control" id="Comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
						<div class="g-recaptcha" data-sitekey="@ReCapcha_SiteKey"></div>
						<input class="btn btn-primary mt30 pull-right" type="submit" name="submit" value="Submit" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@{
	var imageValues = CurrentPage.Site().topbanners;
	string[] ids = imageValues.ToString().Split(',');
}


@section Scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
		'use strict';
		jQuery('#headerwrap').backstretch([

			@foreach (string id in ids)
			{
				var dynamicMediaItem = Umbraco.Media(id);
				<text>"@dynamicMediaItem.umbracoFile",</text>
			}

		], { duration: 8000, fade: 500 });
		});

		$('#PostContactUs').submit(function () {
			var action = $(this).attr('action');
			$("#PostContactUs").slideUp(750, function () {
				$('#PostContactUs').hide();
				$('#submit').attr('disabled', 'disabled');
				$.post(action, $(this).serialize(),
					function (data) {
						debugger;
						document.getElementById('message').innerHTML = data;
						$('#message').slideDown('slow');
						$('#submit').removeAttr('disabled');
						if (data.match('success') != null) $('#PostContactUs').slideUp('slow');
						$(window).trigger('resize');
					}
				);
			});
			return false;
		});

	</script>
}