@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using JhbMetroChess.Extensions
@{
	Layout = "Master.cshtml";
	var templateAssets = @Url.Content("~/assets");
	var tournamentContainer = CurrentPage.Site().Children.Where("DocumentTypeAlias == @0", "Tournamentcontainer").First();
	var tournaments = tournamentContainer.Children.Where("DocumentTypeAlias == @0", "Tournament");
}
@section title {@CurrentPage.Name | @CurrentPage.pageTitle}
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="@Umbraco.Media(tournamentContainer.topbanner).Url" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 text-center wow fadeIn" data-wow-delay="0.2s">
                    <h2 class="section-heading"><span class="theme-accent-color">Chess</span> Tournaments</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-inner">
        <div class="container">
            <div class="wow fadeIn" data-wow-delay="0.2s">
                <ul class="portfolio-filter mb30 text-center list-inline wow fadeIn" data-wow-delay="0.2s">
                    <li><a class="btn btn-primary btn-transparent active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".upcoming">upcoming</a></li>
					<li><a class="btn btn-primary btn-transparent" href="#" data-filter=".inprogress">in progress</a></li>
					<li><a class="btn btn-primary btn-transparent" href="#" data-filter=".previous">Previous</a></li>						
                </ul>
                <ul class="portfolio-items nopadding-lr isotope list-unstyled">
				@foreach (var tournament in tournaments)
				{
					<li class="col-sm-4 col-xs-6 portfolio-item @Umbraco.TournamentStatus((DateTime)tournament.startDate,(DateTime)tournament.endDate) isotope-item">
						<div class="col-xs-12 nopadding-lr hover-item">
							<img src="@Umbraco.Media(tournamentContainer.tournamentBackground).Url" class="img-responsive smoothie" alt="">
							<div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
								<div class="vertical-center smoothie">
									<strong class="heading-font"><span class="theme-accent-color-bg">@tournament.startDate.ToString("d MMM yyyy")</span></strong>
									<h3><a href="single-post.html" title="view project">@tournament.Name</a></h3>
								</div>
							</div>
							<div class="hover-item-caption smoothie">
								<div class="vertical-center smoothie">
									
									<a href="@tournament.tournamentDetails" target="_blank"class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-down"></i></a>
									<a href="@Umbraco.NiceUrl(tournament.Id)" target="_blank" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa ">Details</i></a>
									
									@if (tournament.startDate > DateTime.Now)
									{
										<a href="@Umbraco.NiceUrl(tournament.Id)" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa ">Enter</i></a>
									}
									@if (!string.IsNullOrEmpty(tournament.resultsLink))
									{
										<a href="@tournament.resultsLink" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa ">Results</i></a>
									}
								</div>
								<span class="theme-accent-color-bg hover-bar"></span>
							</div>
						</div>
					</li>
				}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="@templateAssets/img/bg/bg_bw1.jpg" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="message"></div>
                    <form method="post" action="sendemail.php" id="contactform" class="main-contact-form wow fadeIn" data-wow-delay="0.2s">
                        <input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                        <input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                        <input type="text" class="form-control col-md-4" name="website" placeholder="Your URL *" id="website" required data-validation-required-message="Please enter your web address." />
                        <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                        <input class="btn btn-primary mt30 pull-right" type="submit" name="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
